@import "profile_page_styles.css";

.right-elements {
    margin-left: auto;
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
}


.signUp {
    margin: 2.5em;
}

.content {
    padding-top: 2em;
    padding-left: 2em;
    flex-direction: column;
}

button {
    display: block;
}