@import "profile_page_styles.css";

#messages {
    border: 1px gray solid;

    min-height: 20em;
    max-height: 20em;
    overflow: scroll;
    list-style-type: none;
}

a {
    color: blue;
}

button {
    display: block;
}

.content {
    flex-direction: column;
    max-width: 50%;
    flex-grow: 1;
}

.room {
    display: flex;
    flex-direction: row;
}

.homework {
    max-width: 50%;
    flex-grow: 1;
}

#homework-text {
    min-width: 15em;
    max-height: 10em;
    overflow: scroll;
}