@import "profile_page_styles.css";

#messages {
    border: 1px gray solid;

    min-height: 20em;
    max-height: 20em;
    overflow: scroll;
    list-style-type: none;
}

a {
    color: blue;
}

button {
    display: block;
}

.content {
    flex-direction: column;

    max-width: 50%;
}
